<table class="{{ include.table_class | default: 'program-table' }}">
  <tr>
    <th>Time</th>
    <th>Session</th>
    <th>Detail</th>
  </tr>
  <tr>
    <td class="cell-time" rowspan="3">9:30 ~ 10:30</td>
    <td class="cell-session" rowspan="3">GAIA</td>
    <td class="cell-presentation">
      <b>"Title"</b>
      <br/>
      <u>Keisha Jenny</u> <small>(Universitas Muhammadiyah Surakarta)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"Measuring Code Quality Improvements Across JavaScript Commits"</b>
      <br/>
      <u>Alleyda Aurora Yafentri</u> <small>(Universitas Muhammadiyah Surakarta)</small>, Ruksit Rojpaisarnkit <small>(Nara Institute of Science and Technology)</small>, Raula Gaikovina Kula <small>(The University of Osaka)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"From Avatar Embodiment to an Apparition: Mapping the Temporal Dynamics of Self-Consciousness"</b>
      <br/>
      <u>Anji Fujiwara</u> <small>(National Institute of Technology (KOSEN), Nara College)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-time">10:30 ~ 10:45</td>
    <td class="cell-break" colspan="2">Coffee Break</td>
  </tr>
  <tr>
    <td class="cell-time">10:45 ~ 11:30</td>
    <td class="cell-session">Keynote Speech (GAIA)</td>
    <td class="cell-presentation">
      <b>"Keynote Speech"</b>
      <br/>
      <u>Kotaro Hara</u> <small>(Singapore Management University)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-time">11:30 ~ 12:30</td>
    <td class="cell-break" colspan="2">Lunch Break</td>
  </tr>
  <tr>
    <td class="cell-time" rowspan="3">12:30 ~ 13:30</td>
    <td class="cell-session" rowspan="3">ECO</td>
    <td class="cell-presentation">
      <b>"Using AI‑Agents to Extract Specifications in Software Repositories"</b>
      <br/>
      <u>Warren Gerald polandra</u>, Raula Gaikovina Kula, Yoshiki Higo <small>(The University of Osaka)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"Title"</b>
      <br/>
      <u>Takeaki Kitamoto</u>, Hiroshi Igaki <small>(Osaka Institute of Technology)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"The Evolution of the IDE with Generative AI"</b>
      <br/>
      <u>Raula Gaikovina Kula</u> <small>(The University of Osaka)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-time">13:30 ~ 13:45</td>
    <td class="cell-break" colspan="2">Coffee Break</td>
  </tr>
  <tr>
    <td class="cell-time" rowspan="3">13:45 ~ 14:45</td>
    <td class="cell-session" rowspan="3">ECO</td>
    <td class="cell-presentation">
      <b>"A Preliminary Analysis on the Identification of Programming-Language-Specific Neurons in Large Language Models"</b>
      <br/>
      <u>Haruka Tokumasu</u>, Yuta Ishimoto，Masanari Kondo <small>(Kyushu University)</small>，Gabriele Bavota <small>(Università della Svizzera italiana)</small>, Yasutaka Kamei <small>(Kyushu University)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"Nasal Skin Temperature Measurement for Cognitive Load Estimation: Comparing Bounding Box and Segmentation"</b>
      <br/>
      <u>Naoto Tani</u>, Keitaro Nakasai <small>(Osaka Metropolitan University College of Technology)</small>, Gendo Kumoi, Katsuko T. Nakahira <small>(Nagaoka University of Technology)</small>, Yoshito Otake <small>(Nara Institute of Science and Technology)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"Generative AI in Software Development: Insights from Recent Industry Case Studies"</b>
      <br/>
      <u>Akito Monden</u> <small>(Okayama University)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-time">14:45 ~ 15:00</td>
    <td class="cell-break" colspan="2">Coffee Break</td>
  </tr>
  <tr>
    <td class="cell-time" rowspan="4">15:00 ~ 16:20</td>
    <td class="cell-session" rowspan="4">ECO</td>
    <td class="cell-presentation">
      <b>"How Natural Language Proficiency Shapes GenAI Code for Software Engineering Tasks"</b>
      <br/>
      <u>Ruksit Rojpaisarnkit</u>, Youmei Fan, Kenichi Matsumoto <small>(Nara Institute of Science and Technology, Nara Institute of Science and Technology)</small>, Raula Gaikovina Kula <small>(The University of Osaka)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"Analyzing the Factors of Professional Identity in Software Engineers"</b>
      <br/>
      <u>Masateru Tsunoda</u>, Kensei Hamamoto, Sumika Jinnouchi <small>(Kindai University)</small>, Yukasa Murakami <small>(Okayama University)</small>, Masateru Tsunoda <small>(Kindai University)</small>, Akito Monden <small>(Okayama University)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"Title"</b>
      <br/>
      <u>Takahiro Monno</u>, Kazumasa Shimari <small>(Nara Institute of Science and Technology)</small>, Tetsuya Kanda <small>(Notre Dame Seishin University)</small>, Kazuma Yamasaki, Kenichi Matsumoto <small>(Nara Institute of Science and Technology)</small>
    </td>
  </tr>
  <tr>
    <td class="cell-presentation">
      <b>"ネットワークアーキテクチャに基づく欠損メカニズム判別手法の比較"</b>
      <br/>
      <u>谷本 詩温</u>, 柿元 健 <small>(香川高等専門学校)</small>
    </td>
  </tr>
</table>
