---
# Import the default Cayman styles first.
---
@import "{{ site.theme }}";

.page-header>.project-tagline {
  display:none;
}

.page-header>a.btn {
  display:none;
}

.main-content h1 {
  margin-top: 8rem;
}

.site-footer {
  display: none;
}
